#cta.pane
  .row
    .small-6.columns.text-right.left
      %a.button{href: "/shops"}
        %span
          %b
            = t :cta_headline_consumer
          %br
          = t :cta_label
    .small-6.columns.text-right.right
      %a.button{href: "/shops"}
        %span
          %b
            = t :cta_headline_producer
          %br
          = t :cta_label