#cta
  .small-6.columns.text-right.left
    %a.button{href: "javascript:void(0)","ng-click" => "scrollToSectionById('consumer')"}
      %span
        %b
          = t :cta_headline_consumer
        %br
        %span.cta-label
          = t :cta_label
  .small-6.columns.text-right.right
    %a.button{href: "javascript:void(0)","ng-click" => "scrollToSectionById('producer')"}
      %span
        %b
          = t :cta_headline_producer
        %br
        %span.cta-label
          = t :cta_label