#cta.pane
  .row
    .small-6.columns.text-right
      %a.button{href: "/shops"}
        = t :cta_headline_consumer
        %br
        = t :cta_label
    .small-6.columns.text-right
      %a.button{href: "/shops"}
        = t :cta_headline_consumer
        %br
        = t :cta_label