@font-face {  
	font-family: 'Abril Fatface';  
	src: font-url('AbrilFatface-Regular.ttf') format('truetype'); 
	font-weight: normal;  
	font-style: normal;  
} 
@font-face {  
	font-family: 'Montserrat';  
	src: font-url('Montserrat-Regular.ttf') format('truetype'); 
	font-weight: normal;  
	font-style: normal;  
}  