@font-face {  
	font-family: 'Abril Fatface';  
	src: url('/assets/fonts/Abril_Fatface/AbrilFatface-Regular.ttf'); 
	font-weight: normal;  
	font-style: normal;  
} 
@font-face {  
	font-family: 'Montserrat';  
	src: url('/assets/fonts/Montserrat/Montserrat-Regular.ttf'); 
	font-weight: normal;  
	font-style: normal;  
}  