@import "branding";
@import "mixins";
@import "typography";
@import "animations";
@import "variables";

#cta {
  &:before,
  &:after{
    content:"";
    display: table;
    clear:both;
  }

  .small-6{
    padding:0;
    &.left{
      .button{
        margin-right: 5px;
      }
    }
    &.right{
      .button{
        margin-left: 5px;
      }
    }
  }

  .button{
    width:calc(100% - 5px);
    border-radius: 0;
    background: #303948;
    margin-bottom:0px;
    span{
      display: block;
      width:225px;
      text-align:left;
      float:right;
      b{
        font-size:1.5rem;
      }
    }
  }
}