@import "branding";
@import "mixins";
@import "variables";

// Styling for brand intro / tagline on homepage

#hero {
  width: 100%;

  h1 {
    color:#303948;
    margin-top: 2rem;
    font-size: 3rem;

    @media all and (min-width: 768px) {
      margin-top: 3rem;
      font-size: 4rem;
    }
  }

  h2{
    color:#A69385;
    font-size: 1.5rem;

    @media all and (min-width: 768px) {
      font-size: 2rem;
      margin-bottom:1rem;
    }
  }

  p{
    color:#303948;
    font-size: 1rem;
    margin-bottom:8rem;

    @media all and (min-width: 768px) {
      margin-bottom:12rem;
      width:600px;
    }
  }

  &:before {
    content: "";

    @include fullbg;

    background-color: $ofn-grey;
    background-image: url("/assets/home/home.jpg");
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}
