@import "branding";
@import "mixins";
@import "typography";
@import "animations";
@import "variables";

#cta {

  .small-6{
    padding:0;
    &.left{
      .button{
        margin-right: 5px;
      }
    }
    &.right{
      .button{
        margin-left: 5px;
      }
    }
  }

  .button{
    width:calc(100% - 5px);
    border-radius: 0;
    background: #303948;
    span{
      display: block;
      width:225px;
      text-align:left;
      float:right;
    }
  }
}